//import scss files
@use "../custom" as *;
@use "../components/mixins" as *;

.pill-button{
    a{
        text-decoration: none;
        color: $gray-900;
    }
    @include media-breakpoint-down(sm){
        display: none;
    }
    background-color: $white;
    padding:0.50rem 4rem 0.50rem 1rem;
    border:0.13rem solid $white;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    transition: 0.3s ease;
    
    span{
        @include gradient;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.50rem;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            color: $white;
        }
    }

    &:hover{
        @include gradient;
        color:$white;
        a{
            color: $white;
        }
        span{
            background: rgba($gray-900, $alpha: 9.0)
        }
    }
}